/* Global variables */
#home, #movies, #tvseries, #bookmark {
    margin-top: 32px;
    }

    h2 {
        font-size: 32px;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: -0.5px;
    }

    .card {
        .card-img-overlay {
            .play {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 117px;
                height: 48px;
                background-color: rgba($color: #FFFFFF, $alpha: .25);
                border-radius: 28.5px;
                display: flex;
                justify-content: space-evenly;
                img {
                    background-color: transparent;
                }
            }
        }
        .overlay {
        filter: brightness(.5);
        }
        .card-text {
            .info .catergory {
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                    margin-right: 6px;
                }
            }
        }
        .bookmark {
            background-color: rgba($color: #10141E, $alpha: .5);
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
                width: 12px;
                height: 14px;
            }
            &:hover {
                background-color: rgba($color: #ffffff, $alpha: 1.0);
                img {
                    filter: invert(1);
                }
            }
        }
    }

    //Phone
    @media only screen and (max-width: 576px) {
        h2 {
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -0.3125px;
        }
    }

    //Smaller than a tablet
    @media only screen and (max-width: 992px) {
    #home, #movies, #tvseries, #bookmark {
        margin-top: 0px;
    }
    .nav-col {
        padding: 24px;
    }
    }