#gallery {
    margin-top: 40px;
}
#gallery-content {
    margin-top: 32px
}

@media only screen and (max-width: 576px) {
    #gallery {
        margin-top: 24px;
        #gallery-content {
            margin-top: 24px;
        }
    }
}