#gallery {
    margin-top: 40px;
    h2 {
        font-size: 32px;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: -0.5px;
    }
}
#gallery-content {
    margin-top: 32px
}

@media only screen and (max-width: 576px) {
    #gallery {
        margin-top: 24px;
        h2 {
            font-size: 20px;
            line-height: 25px;
            letter-spacing: -0.3125px;
        }
        #gallery-content {
            margin-top: 24px;
        }
    }
}