.card {
    cursor: pointer;
    margin-bottom: 32px;
    .card-img-overlay {
        background-color: rgba($color: #000000, $alpha: .01);
        display: flex;
        justify-content: flex-end;
        height: 174px;
        .bookmark {
            img {
                background-color: rgba($color: #000000, $alpha: .01);
            }
        }
    }

    .card-body {
        padding: 0;
    }
    .card-info {
        display: flex;
        flex-direction: column;
        .info {
            margin-top: 8px;
            display: flex;
            justify-content: space-between;
            width: 137px;
            height: 16px;
            span{
                font-size: 13px;
                font-weight: 300;
                opacity: .75;
                line-height: 16px;
            }
        }
        .title {
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            margin-top: 5px;
        }
    }
}