.card {
    cursor: pointer;
    margin-bottom: 32px;
    .card-img-overlay {
        background-color: rgba($color: #000000, $alpha: .01);
        display: flex;
        justify-content: flex-end;
        height: 174px;
        .bookmark {
            background-color: rgba($color: #000000, $alpha: .5);
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
                width: 12px;
                height: 14px;
                background-color: rgba($color: #000000, $alpha: .01);
            }
            &:hover {
                background-color: rgba($color: #ffffff, $alpha: 1.0);
                img {
                    filter: invert(1);
                }
            }
        }
        .play {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 117px;
            height: 48px;
            background-color: rgba($color: #FFFFFF, $alpha: .25);
            border-radius: 28.5px;
            display: flex;
            justify-content: space-evenly;
            img {
                background-color: transparent;
            }
        }
    }
    .overlay {
        filter: brightness(.5);
    }

    .card-body {
        padding: 0;
    }
    .card-info {
        display: flex;
        flex-direction: column;
        .info {
            margin-top: 8px;
            display: flex;
            justify-content: space-between;
            width: 137px;
            height: 16px;
            span{
                font-size: 13px;
                font-weight: 300;
                opacity: .75;
                line-height: 16px;
            }
        }
        .info .catergory {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                margin-right: 6px;
            }
        }
        .title {
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            margin-top: 5px;
        }
    }
}