#movies {
    margin-top: 32px;
}

// Phone
@media only screen and (max-width: 576px) {
    #movies {
        margin-top: 0px;
    }
}

// Tablet
@media only screen and (min-width: 576px) and (max-width: 992px) {
    #movies {
        margin-top: 0px;
    }
}