#navigation {
    background-color: #161D2F;
    max-width: 96px;
    width: 100%;
    height: 900px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    &.container {
        margin: 0;
    }
    div, img {
        background-color: transparent;
    }
    img {
        cursor: pointer;
    }
    .logo, .menu, .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo {
        img {
            width: 32px;
            height: 25.6px;
            padding: 0;
            margin-top: 35px;
        }
    }
    .menu {
        margin-top: 75px;
        height: 200px;
        justify-content: space-between;
        & img:hover {
            filter: brightness(0) invert(1);
        }
    }
    .avatar {
        margin-bottom: 32px;
        img {
            width: 40px;
            height: 40px;
        }
    }
}

@media only screen and (max-width: 992px) {
    #navigation {
        height: 72px;
        max-width: none;
        padding: 0 16px;
        width: 100%;
        flex-direction: row;
        position: relative;
        &>div:nth-child(1) {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .logo, .menu, .avatar {
            flex-direction: row;
            margin-top: 0;
            margin-bottom: 0;
        }
        .logo {
            img {
                margin-top: 0;
            }
        }
        .menu {
            margin: auto;
            width: 173px;
            height: auto;
        }
    }
}