#trending {
    margin-top: 34px;
    display: block;
    div {
        padding-right: 0;
    }
}
#trending-content {
    overflow-y: hidden;
    display: flex;
    margin-left: 12px;
    margin-top: 25px;
    width: calc(100% - 12px) !important;
}

@media only screen and (max-width: 576px) {
    #trending {
        margin-top: 24px;
        #trending-content {
            margin-top: 16px;
        }
    }
}